.content{
    margin:200px; 
    text-align: center;
    background-color: blanchedalmond;
}
#N6, #N15, #N9, #N8, #N12, #N13, #N10, #N11, #N14, #youDied,#N1, #N2, #N3, #N4, #N5, #N7, #N16{
    display: none;
}
#N17{
    display: none;
}
button{
    height: 30px;

}
#youDied{
    color: red;
}
#go{
    margin-top: 50px;
    margin-left: 350px;
    height: 50px;
    width:80px ;
    border-radius: 20px;
    background-color: #FF0800;
}
article{
    font-family: 'Reenie Beanie', cursive;
    font-size: 30px;
}
#header{
    font-family: 'Chelsea Market', cursive;
    
}
#green{
    text-shadow:3px 3px lightblue;

}
#ice{
    text-shadow:3px 3px green;
}
#iceflag{
    float: left;
    width: 300px;
    height: auto;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg); 
    transform: rotate(-20deg);
}
#greenflag{
    float: right;
    width: 300px;
    height: auto;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg); 
    transform: rotate(20deg);
}
body{
    background: linear-gradient(green,lightblue);
}
#ketchup{
    margin-left: -400px;
    width: 100px;
    height: auto;
    display: none;
}
#swimsuit{
    margin-left: -400px;
    width: 100px;
    height: auto;
    display: none;
}
#dead{
    -ms-transform: rotate(-7deg);
    -webkit-transform: rotate(-8deg); 
    transform: rotate(-8deg);
    width: 300px;
    height: auto;
    display: none;
} 